.none{
    display: none;
}
.text-custom{
    font-size: 15px;
}
.text_table{
    font-size: 12px;
}
.text-title{
    font-size: 24px;
}
.button_text{
    font-size: 17px;
}

.production_department, .design_department,
.hr_department, .it_department, .quality_control_department{
    display: none;
}
.production_department:target{
    display: block;
}
.design_department:target{
    display: block;
}
.hr_department:target{
    display: block;
}
.it_department:target{
    display: block;
}
.quality_control_department:target{
    display: block;
}

.active{
    background-color: red;
    border-radius: 20%;
}

@media screen and (max-width: 789px) {
    .text-custom{
        font-size: 13px;
    }
    .text-title{
        font-size: 15px;
    }
    .button_text{
        font-size: 14px;
    }
    .text_table{
        font-size: 10px;
    }
}